/* stylelint-disable length-zero-no-unit */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --red: red;
  --soft-red: rgba(255, 0, 0, 0.098);
  --parrot: #e0989940;
  --medium: #b4353527;
}

/******* Main section *********/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
}

.title {
  position: absolute;
  top: 0;
  height: 60px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Walter Turncoat', cursive;
  border: 2px solid red;
  color: white;
}

.leaderboard {
  height: 80%;
  width: 70%;
  display: flex;
  margin-top: 36px;
  border: 2px solid red;
  background-color: white;
}

.recent-scores {
  flex-basis: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thead {
  height: 36px;
  font-size: 1.5rem;
  background-color: var(--red);
  color: white;
}

.refresh {
  width: 100px;
  height: 36px;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
  /* stylelint-disable-next-line csstree/validator */
  transform: all 1s ease-in-out;
  text-align: center;
}

.refresh:hover {
  transform: scale(1.1);
  border: 2px solid red;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin: 24px;
  width: 90%;
}

.scores-list {
  list-style: none;
  width: 90%;
  max-height: 80%;
  border: 1px solid black;
}

.score-information {
  padding-left: 5%;
  height: 36px;
  text-align: center;
}

.score-information:nth-child(even) {
  background-color: var(--soft-red);
}

.score-information:nth-child(1) {
  border-top: 1px solid black;
}

.add-your-scores {
  flex-basis: 40%;
  border: 1px solid black;
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.input {
  height: 36px;
  width: 80%;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 12px;
}

.submit-container {
  width: 100%;
  text-align: right;
}

.submit {
  width: 100px;
  height: 36px;
  background: none;
  margin-right: 10%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit:hover {
  border: 2px solid var(--red);
  transform: scale(1.1);
}

.error {
  border: 1px solid black;
  width: 50%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.427);
}

.ocult {
  display: none;
}

/* HERE START THE GAME */

canvas {
  width: 100%;
}

.canvas-wrapper {
  border-style: solid;
  width: 100%;
  margin: 30px;
  margin-left: 0;
  padding: 0px;
  border: 1px solid black;
  background-color: black;
}

.center {
  text-align: center;
}

.game {
  position: relative;
}

#score {
  position: absolute;
  top: 0px;
  left: 0px;
}

.description {
  border: 1px dotted red;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
